/* Univerals
====================*/
* {
  margin: 0;
  padding: 0;
}

/* Body
====================*/
body {
  font-family: 'Lora', serif;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  /* overflow: hidden; */
}
/* Typography
====================*/
h2 {
  height: 30vh;
  width: 150px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}
/* Header
====================*/
header {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

header h3 {
  position: fixed;
  top: 5px;
  left: 20px;
}

.header-nav {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 999;
}

.navList {
  display: flex;
}

.nav-item {
  list-style-type: none;
  margin-left: 30px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Layout
====================*/
main {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
}

.projects {
  display: flex;
  flex-direction: row;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  height: 80vh;
  background-image: url('../images/anjali-mehta-759843-unsplash.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* About
====================*/
#map {
  height: 300px;
  width: 400px;
  margin: 0 20px 10px 0;
}
.map h4 {
  text-align: center;
  margin-bottom: 10px;
}
/* Projects
====================*/

/* Skills
====================*/
.staircase {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 100px 10px 0px;
}
.info-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 20px;
}

.info-box p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0);
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border:rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-top: 10px;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.row, .int {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 5px auto;
}

.int2 {
  max-width: 90%;
}
.int3 {
  max-width: 80%;
}
.int4 {
  max-width: 70%;
}
.int5 {
  max-width: 60%;
}
.int6 {
  max-width: 50%;
}
.int7 {
  max-width: 40%;
}
/* Contact
====================*/

form {
  display: flex;
  flex-direction: column;
  width: 780px;
}

form div {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

input:first-child {
  margin-right: 10px;
}

form input {
  width: 380px;
  margin: 0px 0px 10px 0px;
  border: 2px solid rgb(0, 0, 0);
  height: 20px;
}

form textarea {
  border: 2px solid rgb(0, 0, 0);
}

.button {
  height: 20px;
  margin: 10px 0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

/* Footer
====================*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  background-color:rgb(150, 150, 150);
}

footer p {
  margin-right: 20px;
}

footer i {
  margin: 0 10px;
  font-size: 20px;
}
