/* Univerals
====================*/
* {
  margin: 0;
  padding: 0;
}

/* Body
====================*/

body {
  font-family: 'Lora', serif;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}

/* Header
====================*/

header {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

header h3 {
  position: fixed;
  top: 5px;
  left: 20px;
}

.header-nav {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 999;
}

.navList {
  display: flex;
}

.nav-item {
  list-style-type: none;
  margin-left: 30px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Layout
====================*/
main {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
}

.projects {
  display: flex;
  flex-direction: row;
}

.skills {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin: 20px 15px 20px 15px;
}
/* About
====================*/
#map {
  height: 300px;
  width: 400px;
  margin: 0 20px 10px 0;
}
